

.review-box .quote {
  position: absolute;
  width: 40px;
  right: 10px;
  bottom: 10px;
}

.test-arrowbox {
 /*position: relative;
    right: 20px;
    display: flex;
    top: -55px;
    float: right;*/
	
	position: relative;
    display: flex;
    top: -39px;
    margin: 0 auto;
    width: max-content;
}

.review-box {
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    padding:30px;
    height: 280px;
	border-bottom:3px solid var(--primary);
	box-shadow: var(--box-shadow);
}


.review-box p {
  margin-bottom: 0;
  margin-top: 10px;
}

.user-post {
  font-size: 14px;
  margin: 0 !important;
 
}

.swiper-testimonial {
 /* padding: 100px 20px;
  padding-top: 30px;*/
	padding: 0px 20px 50px;
    margin-top: -100px;
	    position: unset;
    overflow: hidden;
}

.half-color-box {
  background: var(--gradient);
  height: 300px;
  margin-bottom: 140px;
}

.test-arrowbox .swiper-button-next-test,
.test-arrowbox .swiper-button-prev-test {
  /*margin-right: 20px;*/
  /* background: var(--comp-color);2 */
  border-radius: 50%;
  width: 45px;
  /*display: flex;*/
/*  align-items: center;*/
	align-items: normal;
    justify-content: center;
  padding: 10px 0px;
}

.arrow-right {
  /*transform: rotate(180deg);
  margin-top: -8px;*/
	transition: all 0.2s ease-in;
	width: 30px;
}

.arrow {
  cursor: pointer;
  transition: all 0.2s ease-in;
  width: 30px;
}

.arrow:hover {
  transform: translateX(-15px);
}
.arrow-right:hover {
	transform: translateX(15px);
}

@media(max-width:600px) {
	.test-arrowbox {
    right: -27px;
    top:0px;
}
}

@media (max-width:480px){
.test-arrowbox {
    float: unset;
    left: auto;
    position: unset;
    margin: 0 auto;
    width: max-content;
}
.swiper-testimonial {
    padding: 0px 20px 10px;
}
.review-box {
    padding: 20px;
    height: 270px;
}
.test-arrowbox {
    right: 0px;
    top: 0px;
}
}